@import "compass/css3";
// FONTS
@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Pacifico|Karla|Roboto+Slab:400,700|Knewave|Paytone+One|Skranji|Bowlby+One|Freckle+Face);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand|Bad+Script|Patrick+Hand+SC|Handlee|Architects+Daughter);
// COLOURS
$emerald 	: #1ABC9C;
$cornblue 	: #6b97f9;
$coral 		: #ff7759;

body {
	background: url(../img/exclusive_paper.png) fixed;
	
	background: url(../img/p6.png);
	//background: url(../img/cream_dust.png);
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
	color: #333333;
	//font-family: 'Patrick Hand SC', cursive;
	//background: black;
	//color: #ccc;
}

.container {
	margin-top: 60px;
}
#flare {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.7;
	z-index: -10;
}

nav {

	position: fixed;
	z-index: 200;

	#home-icon {
		color: #ddd;
		display:inline;
		font-size: 26px;
		margin-left: 6px;
		float: left;
		@include transition-duration(0.4s);
  		@include transition-timing-function(linear);			
	}

	#home-icon:hover {
		text-decoration: none;
		color: hotpink;
		opacity: 0.7;
		@include transition-duration(0.4s);
  		@include transition-timing-function(linear);	
	}
	
	h1 {
		float: left;
		margin-left: 10px;
		font-family: 'Paytone One', sans-serif;
		font-size: 1.6em;
		color: #459;
		letter-spacing: 2px;
		display: none;
	}

	//position: fixed;
	top:0;
	left:0;
	width: 100%;
	//height: 1.8em;
	background: white;
	margin: 0;
	//background: url(../img/cream_dust.png);
	color: #6b97f9;
	color: #ff74d0;
	@include box-shadow(0 1px 1px rgba(black,0.2));
	padding-top:8px;
	padding-bottom: 8px;

	ul {
		margin: 0;
		width: auto;
		float: right;
		font-family: 'Patrick Hand SC', cursive;
	
		font-size: 1.8em;
		position: relative;
		top: 0px;
		margin-bottom: 4px;

		li {
			float: left;
			list-style: none;

			a {
				margin-left: 16px;
				margin-right: 16px;
				text-decoration: none;
				text-transform: lowercase;
				color: #6b97f9;
				text-shadow: none;//0px 1px 1px rgba(#ff74d0,0.4);
			}

			a:hover {
				text-shadow: none;
				//text-shadow: 0px 1px 1px rgba(black,0.4);
				text-decoration: none;
			}

			a.current-page {
				//color: yellow;
				color: lighten($cornblue,10%);
				//text-decoration: underline;
			}
		}

	}
}


// PORTFOLIO PAGE

div#portfolio-list {
	padding: 30px;
	overflow-x:visible;
	overflow-y: scroll;
	min-width: 1925px;
	position: relative;
	top: 50px;

	// portfolio pieces
	div.portfolio-frame {
		background: #fefefe;
		padding: 4px;
		padding-top: 0;
	}

	// div.portfolio-piece:hover {

	// 	ul.functions-list {
	// 		display: block;
	// 	}
	// }

	div.portfolio-piece {
		width: 241px;
	//	min-height: 391px;
		background: white;
		@include box-shadow(0 3px 21px rgba(black,0.1));
		text-align:center;
		padding:6px;
		border: 1px solid rgba(#a4c9e9,0.4);
		color: #777;
		float: left;
		margin-left: 6px;
		margin-right: 6px;

		img {
			@include border-radius(4px);
		}
		

		hr {

			margin: 0;
			border: none;
			border-top: 1px solid rgba(#6b97f9,0.2);
			//border-bottom: 1px solid rgba(#8597bd,0.2);
			clear: both;
			margin-top: 8px;
			display:none;
		}

		h2 {
			@include text-shadow(0px 1px 1px rgba(#8597bd,0.4));
		}

		h2, h3 {
			font-family: 'Karla', sans-serif;
			font-weight: bold;
			text-align: center;
			color: #8597bd;

			
			//display: inline;
			font-family: 'Paytone One', sans-serif;
			

			a {
				color: #6b97f9;
			}
		}

		h3 {
			color: #8597bd;
			font-family: Karla;
			font-size: 1.3em;
			padding: 0;
			margin: 0;
			font-family: 'Patrick Hand SC', cursive;
		}

		img {
			width: 241px;
			//height: 280px;
			margin-bottom: 2px;
		}

		ul.functions-list {
			margin-top: 6px;
			margin-left: 6px;
			margin-right: 6px;
			//display: none; 
			li {
				margin: 0;
				text-align: left;
				font-size: 1em;
				padding: 3px;
				list-style-type: none;
			}
			li:before {
				content: "♦";
				color: #555;
				font-size:6px;
				position: relative;
				top: -2px;
				padding-right: 3px;
				opacity: 0.5;
			}
		}

		a.btn {
			display: inline;
			position: relative;
			float: right;
			background: lighten($emerald,20%);
			color: white;
			@include text-shadow(0px 1px 1px #999);
			border: none;
		}

		a.btn:hover {
			background: $cornblue;
		}
	}
}

.sites-icons {
	li {
		list-style: none;
		display: inline;
		font-size: 2em;
	}
}

p.keywords {
	margin-left: 1.2em;
	margin-top: 0.8em;
	color: #777;
	color: #8597bd;
	text-align:center;
	font-size:1em;

	a {
		background: rgba(hotpink,0.4);
		padding: 3px;
		text-decoration: none;
		color: #8597bd;
		color: #777;
		line-height: 1em;
	}
}

h1 {
	font-family: 'Paytone One', sans-serif;
	font-size: 2em;
}
section {

	article {
		width: 20%;
		float: left;
		h2 {
			font-family: 'Paytone One', sans-serif;
		}
	}

}


// ABOUT ME
#intro-about {
	//margin-left: auto;
	//margin-right: auto;
	text-align:center;	
	background: white;
	@include border-radius(2px 2px 0px 0px);
	border-bottom: 1px dotted rgba(gray,0.2);

	p {
		font-size: 18px;
	}

}
#holophoto {
	//float: left;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

#about-me-container {
	//background: url(../img/cream_dust.png);
	//border: 1px sold rgba(gray,0.4);
	
	@include border-radius(8px);
}

.hrr {
	text-align:center;
}

.handwritten {
	font-family: 'Patrick Hand SC', cursive;
}

h1 {
	color: #ff7759;
	color: #07b58d;
	color: #6b97f9;
	font-size: 2.2em;

}
.bio-table {
	//border-top: 1px solid grey;
	//border-bottom: 1px solid #ccc;
	//background: url(../img/cream_dust_60.png);
	margin-bottom: 1em;
	@include border-radius(4px);

	h2 {
		//@include text-shadow(0px 1px 1px rgba(#6d95ff,0.4));
//		border-bottom: 3px solid #ff3a6a;
		border-bottom: 3px solid #33f29c;
		border-bottom: 1px solid rgba(#33f29c,.5);
		border-bottom: 1px solid #ccc;
		//border-top: 3px solid #33f29c;
	//	border-bottom: 3px solid #9f68ff;
		//background: #fffab8;
		width: auto;
		//display: inline;
		//border-bottom: 2px solid #ff9646
		font-family: 'Paytone One', sans-serif;
		//font-family: 'Patrick Hand SC', cursive;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 1.6em;
		color: #6b97f9;
		color: #2e82b7;
		color: #4e61c6;
		color: #6b97f9;
		color: #ff9646;
		color: #3581bc;
		//color: #9f68ff;
		text-align: left;
		//color: #ff3a6a;
		//color: white;
		//background: rgba(#6b97f9,0.5);
		padding:4px;
		color: #6b97f9;
		padding-left:0px;
		//color: #6b97f9;
		//@include text-shadow(0px 2px 0px rgba(#4e61c6,0.5));
		//text-align: center;
	}


}
.employment-history {
	h2 {
		//border-bottom: 1px solid rgba(#6b97f9,0.3);
		border-bottom: 3px solid #9f68ff;
		border-bottom: 1px solid rgba(#33f29c,.5);
		border-bottom: 1px solid #ccc;
	}
}

.stitched {
	//border-bottom: hotpink 1px dashed;
	background: url(../img/cream_dust_74.png);
	background: rgba(white,0.5);
	padding-top:1em;
}

.skills-list {
	display: block;
	//display: inline;
	width: 100%;
	margin-bottom: 10px;
	font-family: 'Patrick Hand SC', cursive;
	li {
		float: left;
		list-style: none;
		margin-right: 12px;
		a {
			color: #ff7759;
			color: #ff3a6a;
			text-decoration: none;
		}
	}
}

#skills-glyphs {
	li {
		float: left;
		font-size: 20px;
		list-style: none;
		margin-right: 10px;		
	}

}

#skills {
	margin-top: 20px;
	p {
		display: block;
	}
}

#education {

	h2 {

	}
	h3 {
		font-size: 1.1em;
		font-weight: bold;
		text-align: left;
	}
	
	h4 {
		font-size: 1.1em;
		
	}

	h5 {
		display: inline;
		color: $coral;
	}

	p {
		//display: none;
	}
}

.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover, 
.nav-tabs > .active > a:focus {
	border: none;
	background: none;
	color: #666;
}

ul.nav-tabs {
	padding: 0px;
	margin: 0;
	border: 0;

	li {
		padding: 0;
		margin: 0;
		border: 0;
		margin-right: 6px;
		line-height: 1em;

		a {
			padding: 0;
			margin: 0;
			border: 0;
			line-height: 1em;
			font-family: 'Roboto Slab';
			font-family: 'Patrick Hand SC', cursive;
			font-weight: 700;
			color: #ff688e;
			color: #ccc;
			@include transition-duration(0.2s);
  			@include transition-timing-function(linear);			
		}

		a:hover {
			background: none;
			color: #999;
			@include transition-duration(0.2s);
  			@include transition-timing-function(linear);
		}
	}

	li.active {
		a {
			//@include text-shadow(0px 2px 1px rgba(hotpink,0.4));
			color: #ff7759;
			color: #666;
			//color: $coral;
		}
	}
}


.accordion-group {
	border: none;

	a {
		padding: 0;
	}
}

.accordion-heading .accordion-toggle {
	padding: 0;
}

// carousel TIMELINR 
.item {
	h3 {
		font-family: 'Patrick Hand SC', cursive;
	}
	img {
		width: 200px;
		background: white;
		@include border-radius(16px);
		padding: 8px;
		
	}
}

.carousel-indicators {
	position: relative;
	top: 0px;
	left: 0px;
	display: inline;
	text-align:center;
	margin-left: auto;
	margin-right: auto;	
	
}

.carousel-indicators .active {
	border-bottom: 2px hotpink solid;
}

.carousel-indicators li {
	display: inline;
	height: auto;
	width: 10%;
	text-indent: 0px;
	text-align:center;
	float: none;
	@include border-radius(0px);
	//font-family: 'Patrick Hand SC', cursive;
}

a.li-nav {
	display: inline;
	font-size: 1em;
	font-family: Verdana, sans-serif;
	color: hotpink;
	z-index: 10;

	&.active {
		border-bottom: 2px hotpink solid;
	}	
}

#timelines {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	font-size: 1.4em;
	position: relative;
	top: 14px;
	height: 20px;
	z-index: 10;
}

#time-line {
	position: relative;
	top: -15px;
	//border-bottom: dashed 1px grey;
	z-index: 0;
	opacity: 0.2;
}


// TIMELINR

#timeline {
	background:#222;
	font-family:arial,serif;
	color:#fff;
	font-size:14px;
	//width:100%;
//	height:350px;
//	overflow:hidden;
	position:relative;
	background:url(../img/dot.gif) left 45px repeat-x;
}

#dates {
	position: relative;
	border: 1px solid grey;
}

#dates-box {
	overflow: hidden;
}

#dates li {
	list-style:none;
	float:left;
	width:100px;
	height:50px;
	font-size:24px;
	font-family:'Merienda',cursive;
	text-align:center;
	background:url(../img/biggerdot.png) center bottom no-repeat;
}

#dates a {
	line-height:38px;
	padding-bottom:10px;
}

#dates .selected {
	font-size:38px;
}

#issues {
//	width:800px;
	height:350px;
	overflow:hidden;
}

#issues li {
	width:800px;
	height:350px;
	list-style:none;
	float:left;
}

#issues li.selected img {
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);
}

#issues li img {
	float:left;
	margin:10px 30px 10px 50px;
	background:transparent;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
/* IE 8 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
/* IE 6 & 7 */
	zoom:1;
	-webkit-transition:all 2s ease-in-out;
	-moz-transition:all 2s ease-in-out;
	-o-transition:all 2s ease-in-out;
	-ms-transition:all 2s ease-in-out;
	transition:all 2s ease-in-out;
	-webkit-transform:scale(0.7,0.7);
	-moz-transform:scale(0.7,0.7);
	-o-transform:scale(0.7,0.7);
	-ms-transform:scale(0.7,0.7);
	transform:scale(0.7,0.7);
}

#issues li h1 {
	color:#fc0;
	font-size:48px;
	font-family:'Merienda',cursive;
	margin:20px 0;
	text-shadow:#000 1px 1px 2px;
}

#issues li p {
	font-size:14px;
	margin-right:70px;
	font-weight:400;
	line-height:22px;
	text-shadow:#000 1px 1px 2px;
}

#grad_left,#grad_right {
	width:100px;
	height:350px;
	position:absolute;
	top:0;
}

#grad_left {
	left:0;
	background:url(../img/grad_left.png) repeat-y;
}

#grad_right {
	right:0;
	background:url(../img/grad_right.png) repeat-y;
}

#next,#prev {
	position:absolute;
	top:0;
	font-size:70px;
	top:170px;
	width:22px;
	height:38px;
	background-position:0 0;
	background-repeat:no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}

#next:hover,#prev:hover {
	background-position:0 -76px;
}

#next {
	right:0;
	background-image:url(../img/next.png);
}

#prev {
	left:0;
	background-image:url(../img/prev.png);
}

#next.disabled,#prev.disabled {
	opacity:.2;
}


// FRONT PAGE
#front-page-text {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	width: 100%;
	img {
		margin-left: auto;
		margin-right: auto;
		text-align:center;
	}
}

.floored {
	position: absolute;
	bottom: 1em;
	width: 100%;
	margin-bottom: 10px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

#harmo0nograph {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

canvas#niadzi {
	height: 400px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	text-align:center;
	border: 0;
}

canvas:focus { outline: 0; }

// CONTACT ME PAGE //
form {
	text-align:center;
	li {
		list-style: none;
	}

	label {
		display: inline;
		text-align: left;
	}

	input[type="text"] {
		border: 2px solid #dce4ec;
		font-size: 14px;
		padding: 8px 0 9px 10px;
		display: inline;
	}

	input:hover {
		border: 2px solid $emerald;
	}
	
	textarea, #submitbutton {
		width: 70%;
		padding: 0;
		margin: 0;
		text-align: left;
	}

	textarea {
		border: 2px solid #dce4ec;
		font-size: 14px;
		padding: 6px;
	}

	#submitbutton {
		margin-left: auto;
		margin-right: auto;
		padding: 8px;
		text-align:center;
		margin-top: 6px;
		background: $emerald;
		border: 2px solid #dce4ec;
		color: white;
		font-size: 18px;
		@include border-radius(4px);

	}
}

#name-email {
	input[type="text"] {
		display: inline;
	}
}


// ICOMOON
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-pencil, .icon-pacman, .icon-feed, .icon-books, .icon-profile, .icon-cog, .icon-expand, .icon-contract, .icon-music, .icon-cart, .icon-credit, .icon-heart, .icon-star, .icon-embed, .icon-bubbles, .icon-mobile, .icon-keyboard, .icon-barcode, .icon-volume-medium {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\68";
}
.icon-pencil:before {
	content: "\77";
}
.icon-pacman:before {
	content: "\70";
}
.icon-feed:before {
	content: "\73";
}
.icon-books:before {
	content: "\62";
}
.icon-profile:before {
	content: "\63";
}
.icon-cog:before {
	content: "\67";
}
.icon-expand:before {
	content: "\6f";
}
.icon-contract:before {
	content: "\72";
}
.icon-music:before {
	content: "\6d";
}
.icon-cart:before {
	content: "\6b";
}
.icon-credit:before {
	content: "\76";
}
.icon-heart:before {
	content: "\6c";
}
.icon-star:before {
	content: "\61";
}
.icon-embed:before {
	content: "\64";
}
.icon-bubbles:before {
	content: "\65";
}
.icon-mobile:before {
	content: "\21";
}
.icon-keyboard:before {
	content: "\22";
}
.icon-barcode:before {
	content: "\23";
}
.icon-volume-medium:before {
	content: "\24";
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

 .fade {
   opacity: 0;
   -webkit-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;
       -ms-transition: opacity 0.15s linear;
        -o-transition: opacity 0.15s linear;
           transition: opacity 0.15s linear;
 }